$colorBasico: #eb13af;
$colorElegido: #ff3788;

$color1: #5b5b5b;
$color2: #757575;
$color3: #fc2179;
$color4: #fd5298;
$color5: #fe84b6;

$color1: #b2054b;
$color2: #e5055f;
$color3: #fc2179;
$color4: #a8a8a8;
$color5: #c1c1c1;

$color1: #7cf126;
$color2: #2f7bf4;
$color3: #f73886;
$color4: #fa428d;
$color5: #fd4c94;

$color1: #ddf126;
$color2: #31f5a6;
$color3: #4f3df9;
$color4: #fc4a92;
